*.o
*.obj
*.mod
*.a
*.so
*.dylib
*.exe
*.out

# Binaries
solver/fvc2_solver
sort_grid/sort_grid

# Gmsh mesh files
*.msh

# sort_grid outputs
**/grid/nodel
**/grid/elnorm
**/grid/elml
**/grid/edgl
**/grid/grid_c*.vtk
**/grid/grid_c*.dat

# Solver outputs
**/output/
