*.o
*.obj
*.mod
*.a
*.so
*.dylib
*.exe
*.out

# Binaries
solver/fvc2_solver
msh2fvc/msh2fvc

# Gmsh mesh files
*.msh

# sort_grid outputs
**/case.fvc
**/grid/nodel
**/grid/elnorm
**/grid/elml
**/grid/edgl
**/grid/grid_c*.vtk
**/grid/phys_names
**/grid/grid_c*.dat

# Solver outputs
**/output/
